<link rel="stylesheet" href="<%= assetPath('css/_header.css') %>">
<header>
    <ul>
        <span class="title-name">codeial</span>
        <% if (locals.user){ %>
            <li class="tabs"><a href="/">Home</a></li>
            <li class="tabs"><a href="">Notifications</a></li>
            <li class="tabs"><a href="">Messages</a></li>
            <li class="tabs user-name">
                    <a href="/users/profile/<%= user.id %>">
                        <img src="<%= user.avatar %>" alt="" /></a>
                    <a href="/users/profile/<%= user.id %>">
                        <%= user.name %>
                    </a>
            </li>
            <li class="tabs">
                <a href="/users/sign-out">Sign Out</a>
            </li>
            <% }else{ %>
                <li class="tabs"><a href="/users/sign-in">Sign In</a></li>
                <li class="tabs"><a href="/users/sign-up">Sign Up</a></li>
                <% } %>
    </ul>
</header>