<link rel="stylesheet" href="<%= assetPath('css/profile.css') %>">


<section id="profile">
    <div class="left-side">
        <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">
        <h1><%= profile_user.name %></h1>
    </div>
    <div>
        <% if(user.id == profile_user.id){ %>
            <form class="right-content" action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="post">
                <label>Profile Name</label>
                <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>">
                <label>User Email</label>
                <input type="text" name="email" placeholder="Your email" value="<%= profile_user.email %>">
                Change Profile Image:<br><input type="file" name="avatar" placeholder="Profile Picture">
                <button type="submit">Apply Changes</button>
            </form>
        <% }else{ %>
            <div class="right-content">
                <h2 style="color: var(--color-dark-text)">User Details</h2>
                <div>User Email</div>
                <div><%= profile_user.email %></div>
                <div>Username</div>
                <div><%= profile_user.name %></div>
            </div>
        <% } %> 
    </div>
</section>